services:
  axio_lp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: axio_lp
    restart: unless-stopped
    networks:
      - gestto_gestto-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=gestto_gestto-network"
      - "traefik.http.routers.axio-lp.entrypoints=websecure"
      - "traefik.http.routers.axio-lp.rule=Host(`axiodev.cloud`)"
      - "traefik.http.routers.axio-lp.tls=true"
      - "traefik.http.routers.axio-lp.tls.certresolver=letsencrypt"
      - "traefik.http.services.axio-lp.loadbalancer.server.port=80"
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

networks:
  gestto_gestto-network:
    external: true
